body{
    color: #212121;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 10px 0;
}

.header h1{
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

.title{
    /*padding: 15px 0 0;*/
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;

}

.title h2{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding: 10px 0 5px;
}

.choices{
    width: 600px;
    margin: 0 auto;
}

.choices__inner{
    background: transparent;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 44px;
}

.choices__list--single{
    padding-right: 30px;
}

.choices__placeholder{
    opacity: 1;
    padding-left: 5px;
}

.choices[data-type*=select-one]:after {
    right: 20px;
}

.all_item{
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: space-evenly;
    gap: 30px 20px;
}

.item{
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    transition: 0.3s ease-in;
}

.item_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.item_brand{
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
}

.item_id{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.item_size{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.item_price{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.item_button{
    margin: 18px auto 8px;
    padding: 8px 10px;
    background: #707070;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.item_button:hover{
    background: #212121;
}

.item:hover{
    border: 1px solid #707070;
}

.details{
    padding:30px;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.details_active{
    display: block;
}

.modal{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 25px 30px;
    background-color: #fff;
    max-width: 400px;
    border-radius: 10px;
    cursor: auto;
    z-index: 100;
}

.modal_close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: #ffffff;
    background: #707070;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.modal_close:hover{
    background: #212121;
}

.details_img{
    border-radius: 5px;
}

.details_item{
    padding-top: 15px;
}

.details_item h2{
    font-size: 16px;
    font-weight: 700;
}

.details_item div{
    margin-top: 10px;
    font-size: 14px;
}

.footer{
    margin-top: auto;
    padding: 10px 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.footer h2{
    font-size: 22px;
    text-align: center;
}

@media (max-width: 560px) {
    .modal{
        width: 300px;
    }
    .choices{
        width: auto!important;
    }
}

.section_item{
    display: flex;
    gap: 10px;
}

.filter_item{
    width: 200px;
    margin: 15px 0;
}

.filter_item{
    display: none;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
}


.filter_title{
    font-size: 18px;
    font-weight: 700;
}

.filter_check{
    display: flex;
    justify-content: space-between;
}

.filter_check label{
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.filter_check label input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width:0;
    height:0;
}

.filter_check label span {
    width:20px;
    height:20px;
    border: 1px solid #212121;
    border-radius: 5px;
    transition: .3s background-color;
}

.filter_check label span:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid #212121;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.filter_check label input:checked ~ span:after {
    display: block;
}

.filter_button button{
    margin: 0 auto 8px;
    padding: 8px 10px;
    background: #707070;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.filter_button button:hover{
    background: #212121;
}

.all_item{
    width: 100%;
}

@media (max-width: 1000px) {

    .filter_item{
        display: none;
    }
}

/*
@media (min-width: 769px) {
    .btn_filter{
        display: none;
    }
}

@media (max-width: 769px) {
    .btn_filter{
        margin: 0 auto 8px;
        padding: 8px 10px;
        background: #707070;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        transition: 0.3s ease-in;
    }

    .btn_filter button:hover{
        background: #212121;
    }

    .section_item{
        position: relative;
    }

    .block_filter{
        display: none;
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100%;

    }

    .choices{
        display: none;
    }
    .form{
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .block_remove{
        display: none!important;
    }

    .active1{
        display: flex;
    }

}
*/

.filters{
    display: flex;
    justify-content: start;
    gap: 10px;
}

.filter_block{
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.filters_item{
    position: relative;
}

.filters_label{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 11px 24px 11px 8px;
    letter-spacing: .03em;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    border: 1px solid #B4B4B4;
    font-size: 14px;
    line-height: 16px;
    color: #0a0a0a;
}

.filters_label:before {
    content: "";
    position: absolute;
    right: 8px;
    top: 12px;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block!important;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filters_active .filters_label:before {
    top: 16px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

.filters_list_block{
    flex-direction: column;
    position: absolute;
    top: 58px;
    left: 0;
    width: 300px;
    box-shadow: 0 0 10px #212121;
    background: #fff;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 0.5s opacity, 0.5s visibility;
}

.filters_item_sort{
    margin-left: auto;
}

.filters_item_sort .filters_list_block{
    right: 0;
    left: auto;
}

.filter_sort .filters_active .filters_list_block{
    right: 0;
    left: auto;
    opacity: 1;
    visibility: visible;
    display: flex;
}

.option__item_active:before {
    display: inline-block;
    position: absolute;
    content: "";
    /*top: 12px;*/
    /*left: 13px;*/
    /*width: 11px;*/
    /*height: 10px;*/
    right: 22px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid #212121;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.filters_active .filters_list_block{
    opacity: 1;
    visibility: visible;
    display: flex;
}

.filters_list_item{
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 0 15px;
    margin: 8px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    z-index: 10;
}

#filterColor .filters_list_item p{
    position: relative;
    padding-left: 28px;
    line-height: 20px;
}

#filterColor .filters_list_item p span{
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.filters_list_item .color_black{
    background: black;
}

.filters_list_item .color_white{
    background: white;
}

.filters_list_item .color_blue{
    background: blue;
}

.filters_list_item .color_red{
    background: red;
}

.filters_list_item .color_grey{
    background: grey;
}

.filters_list_item .color_orange{
    background: orange;
}

.filters_list_item .color_yellow{
    background: yellow;
}

.filters_list_link{
}

.filters_list_item span {
    width:20px;
    height:20px;
    border: 1px solid #212121;
    border-radius: 5px;
    transition: .3s background-color;
}

.filters_list_item input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width:0;
    height:0;
}

.filters_list_item span:after {
    content: '';
    position: absolute;
    display: none;
    right: 22px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid #212121;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.filters_list_item input:checked ~ span:after {
    display: block;
}

.filters_apply{
    display: flex;
    justify-content: space-evenly;
}

.filters_apply button, .filters_apply_xs button{
    margin: 8px auto;
    padding: 8px 10px;
    background: #707070;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 125px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.filters_apply button:hover, .filters_apply_xs button:hover{
    background: #212121;
}

@media screen and (min-width: 992px) {
    .menu{
        display: flex;
    }
    /*i {*/
    /*    display: none;*/
    /*}*/

    .menu_item_link a{
        display: none;

    }
    .catalog:hover .menu_item, .brands:hover .menu_item{
        display: flex;
        visibility: visible;
        opacity: 1;
        transition: opacity .5s,visibility 0ms;
        transition-delay: .3s;
    }
    .catalog .menu_item{
        position: absolute;
        top: 50px;
        left: 50%;
        min-width: 500px;
        margin-left: -250px;
        display: none;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s linear .4s,visibility 0s linear .41s;
    }

    .brands .menu_item{
        /*display: flex;*/
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 50px;
        left: 50%;
        min-width: 500px;
        margin-left: -250px;
        display: none;
        overflow: hidden;
        opacity: 1;
        visibility: hidden;
        transition: opacity .3s linear .4s,visibility 0s linear .41s;
    }

    .brands .menu_item{
        overflow: hidden;
        opacity: 1;
        visibility: hidden;
        transition: opacity .1s linear .4s,visibility 0s linear .41s;
    }
    .menu_link:hover{
        color: #6610f2;
    }
    .submenu li a:hover{
        color: #721c24;
    }

    .submenu, .submenu_item{
        display: flex;
    }

}

@media screen and (max-width: 992px) {

    .menu{
        background: #fff;
        /*display: flex!important;*/
        flex-direction: column!important;
        justify-content: start!important;
        height: calc(100vh - 50px)!important;
        left: 0!important;
        position: fixed!important;
        top: 50px!important;
        transition: left .6s ease-in-out .1s!important;
        box-sizing: border-box;
        min-width: 320px!important;
        padding: 0 24px 32px!important;
        z-index: 1!important;
    }
    .menu > div{
        align-items: center!important;
        border-bottom: 1px solid #e9eaed!important;
        display: -ms-flexbox!important;
        display: flex!important;
        height: 50px!important;
        flex-shrink: 0;
    }
    .menu_link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0a0a0a;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .03em;
        line-height: 16px;
        margin: 0;
        text-transform: uppercase;
        width: 100%;
        z-index: 1;
        position: relative;
        padding: 0!important;
    }
    .menu_link:hover{
        color: #0a0a0a;
    }

    i {
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block!important;
        padding: 3px;
    }

    .i_right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .i_left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .menu_item_link a{
        display: flex!important;
        align-items: center!important;
        justify-content: space-between!important;
        font-weight: 500!important;
        font-size: 12px;
        line-height: 50px!important;
        color: #565a5e!important;
        text-align: center!important;
        text-transform: uppercase;
        height: 50px!important;
        position: relative!important;
    }
    .menu_item_link{
        position: relative!important;
    }
    .menu_item_link:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: #e9eaed;
        display: block;
    }
    .menu_item{
        display: flex!important;
        flex-direction: column!important;
        background: #ffffff!important;
        /*color: #ffffff;*/
        height: calc(100vh - 50px)!important;
        left: -100%!important;
        position: fixed!important;
        top: 50px!important;
        transition: left .6s ease-in-out .1s;
        min-width: 320px!important;
        /*max-width: 372px;*/
        overflow: auto!important;
        padding: 0 24px 32px!important;
        z-index: 10!important;
    }

    .menu_item.open {
        left: 0!important;
    }

    .submenu{
        width: 100%!important;
        flex-direction: column!important;
    }

    .submenu_item_link, .submenu_item_brands {
        font-weight: 500!important;
        font-size: 12px!important;
        line-height: 16px!important;
        color: #0a0a0a!important;
        display: flex!important;
        align-items: center!important;
        height: 49px!important;
        /*width: 100%;*/
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
    }
    .catalog .submenu_item {
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        min-width: 120px;
        min-height: auto!important;
        border-left: 0!important;;
        padding-left: 0!important;;
    }
    .brands .submenu_item {
        /*display: flex;*/
        /*align-items: center;*/
        justify-content: start!important;
        /*min-width: 120px;*/
        min-height: auto!important;
        border-left: 0!important;
        padding-left: 0!important;
    }
    .catalog .submenu_item:last-child, .brands .submenu_item:last-child {
        border-right: 0!important;
        padding-right: 0!important;
    }

    .submenu_item_link:before, .submenu_item_link:after {
        background: #565a5e;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        right: 0;
        top: 50%;
        width: 10px;
    }
    .submenu_item_link:after {
        transform: rotate(90deg);
        transition: transform .3s ease;
    }

    .submenu_open .submenu_item_link:after {
        transform: rotate(0deg);
    }

    .submenu_item {
        border-bottom: 1px solid #e9eaed;
        width: 100%;
    }

    .submenu_item > .sub_submenu {
        display: none;
    }

    .submenu_item.submenu_open > .sub_submenu {
        display: block;
    }

    .sub_submenu{
        padding: 0 0 0 10px!important;
    }

    .sub_submenu li{
        margin-bottom: 15px!important;
    }

    .sub_submenu li a{
        font-size: 14px!important;
        line-height: 24px!important;
        color: #565a5e!important;
    }

}

/*filter*/
.menu, .block, .filter_x, .filter_xs, .close_filters, .filters_apply_xs{
    display: none;
}

@media screen and (max-width: 576px) {
    .header h1 {
        font-size: 15px;
        line-height: 30px;
        text-align: center;
    }
}


@media screen and (max-width: 1000px) {
    .menu{
        display: none;
    }

    .block{
        display: flex;
    }

    .filters_apply{
        margin-top: auto;
    }

    .filters_apply_xs{
        display: flex;
        justify-content: space-evenly;
        min-width: 272px;
        max-width: 372px;
        margin-top: auto;
    }

    .filters_apply_xs button{
        margin: 8px auto;
        padding: 8px 10px;
        background: #707070;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        width: 125px;
        cursor: pointer;
        transition: 0.3s ease-in;
    }

    .filters_apply_xs button:hover{
        background: #212121;
    }

    .filter_xs{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin-top: 10px;
        padding: 11px 24px;
        letter-spacing: .03em;
        text-transform: uppercase;
        border: 1px solid #B4B4B4;
        font-size: 14px;
        line-height: 16px;

    }
    .filter_x{
        display: flex;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
        padding: 11px 24px;
        border: 1px solid #B4B4B4;
        text-transform: uppercase;
        position: relative;
    }

    .filter_x:before, .filter_x:after {
        content: '';
        position: absolute;
        right: 8px;
        top: 18px;
        width: 15px;
        height: 1px;
        background: #000000;
    }

    .filter_x:before {
        transform: rotate(45deg);
    }

    .filter_x:after {
        transform: rotate(-45deg);
    }

    .filter_block{
        background: #fFF;
        display: none;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        transition: left .6s ease-in-out .1s;
        min-width: 320px;
        padding: 0 24px 32px;
        z-index: 1000;
        box-shadow: 0 0 10px #212121;
    }

    .filters{
        flex-direction: column;
        gap: 0;
    }

    .filters > div{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e9eaed!important;
        height: 50px!important;
    }

    .filters_label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0a0a0a;
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
        width: 100%;
        z-index: 1;
        position: relative;
        padding: 0!important;
        border: 0;
    }

    .filters_label:before {
        top: 4px;
        right: 0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .filters_active .filters_label:before {
        top: 4px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .menu_link:hover{
        color: #0a0a0a;
    }

    .filters_item_sort {
        margin-left: 0;
    }

    /*i {*/
    /*    border: solid black;*/
    /*    border-width: 0 1px 1px 0;*/
    /*    display: inline-block!important;*/
    /*    padding: 3px;*/
    /*}*/

    /*.i_right {*/
    /*    transform: rotate(-45deg);*/
    /*    -webkit-transform: rotate(-45deg);*/
    /*}*/
    /*.i_left {*/
    /*    transform: rotate(135deg);*/
    /*    -webkit-transform: rotate(135deg);*/
    /*}*/

    .block a, .close_filters a{
        display: flex!important;
        align-items: center!important;
        justify-content: space-between!important;
        font-weight: 500!important;
        font-size: 12px;
        line-height: 50px!important;
        color: #565a5e!important;
        text-align: center!important;
        text-transform: uppercase;
        height: 50px!important;
        position: relative!important;
        width: 100%;
    }

    .block{
        position: relative!important;
    }

    .block:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: #e9eaed;
        display: block;
    }

    .filters_list_block{
        display: flex!important;
        flex-direction: column!important;
        background: #ffffff!important;
        /*color: #ffffff;*/
        height: 100%;
        left: calc(-100% - 10px)!important;
        position: fixed!important;
        top: 0;
        transition: left .6s ease-in-out .1s;
        min-width: 320px!important;
        /*max-width: 372px;*/
        overflow: auto!important;
        padding: 0 24px 32px!important;
        z-index: 10!important;
    }

    .filters_list_block.open {
        opacity: 1;
        visibility: visible;
        left: 0!important;
    }

    .filters_list_item {
        font-weight: 500!important;
        font-size: 12px!important;
        line-height: 16px!important;
        color: #0a0a0a!important;
        display: flex!important;
        align-items: center!important;
        height: 35px!important;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
    }

    .filters_list_item span:after {
        top: 10px;
    }
}