body{
    /*background: #eeeeee;*/
    color: #212121;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 10px 0;
}

.header h1{
    font-size: 22px;
    text-align: center;
}

.title{
    padding: 15px 0 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;

}

.title h2{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding: 10px 0 5px;
}

.choices{
    width: 600px;
    margin: 0 auto;
}

.choices__inner{
    background: transparent;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 44px;
}

.choices__list--single{
    padding-right: 30px;
}

.choices__placeholder{
    opacity: 1;
    padding-left: 5px;
}

.choices[data-type*=select-one]:after {
    right: 20px;
}

.all_item{
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: space-evenly;
    gap: 30px 20px;
}

.item{
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    transition: 0.3s ease-in;
}

.item_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.item_brand{
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
}

.item_id{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.item_size{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.item_price{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.item_button{
    margin: 18px auto 8px;
    padding: 8px 10px;
    background: #707070;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.item_button:hover{
    background: #212121;
}

.item:hover{
    border: 1px solid #707070;
}

.details{
    padding:30px;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.details_active{
    display: block;
}

.modal{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 25px 30px;
    background-color: #fff;
    max-width: 400px;
    border-radius: 10px;
    cursor: auto;
}

.modal_close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: #ffffff;
    background: #707070;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.modal_close:hover{
    background: #212121;
}

.details_img{
    border-radius: 5px;
}

.details_item{
    padding-top: 15px;
}

.details_item h2{
    font-size: 16px;
    font-weight: 700;
}

.details_item div{
    margin-top: 10px;
    font-size: 14px;
}

.footer{
    margin-top: auto;
    padding: 10px 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.footer h2{
    font-size: 22px;
    text-align: center;
}

@media (max-width: 560px) {
    .modal{
        width: 300px;
    }
    .choices{
        width: auto!important;
    }
}

.section_item{
    display: flex;
    gap: 10px;
}

.filter_item{
    width: 200px;
    margin: 15px 0;
}

.filter_item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
}


.filter_title{
    font-size: 18px;
    font-weight: 700;
}

.filter_check{
    display: flex;
    justify-content: space-between;
}

.filter_check label{
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.filter_check label input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width:0;
    height:0;
}

.filter_check label span {
    width:20px;
    height:20px;
    border: 1px solid #212121;
    border-radius: 5px;
    transition: .3s background-color;
}

.filter_check label span:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid #212121;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.filter_check label input:checked ~ span:after {
    display: block;
}

.filter_button button{
    margin: 0 auto 8px;
    padding: 8px 10px;
    background: #707070;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.filter_button button:hover{
    background: #212121;
}

.all_item{
    width: 100%;
}

@media (min-width: 850px) {

}

@media (max-width: 850px) {
    /*.section_item{*/
    /*    position: relative;*/
    /*}*/

    .filter_item{
        display: none;
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 0;*/
    }
}

/*.btn_open{*/
/*    background: #00a5bb;*/
/*}*/









/*
@media (min-width: 769px) {
    .btn_filter{
        display: none;
    }
}

@media (max-width: 769px) {
    .btn_filter{
        margin: 0 auto 8px;
        padding: 8px 10px;
        background: #707070;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        transition: 0.3s ease-in;
    }

    .btn_filter button:hover{
        background: #212121;
    }

    .section_item{
        position: relative;
    }

    .block_filter{
        display: none;
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100%;

    }

    .choices{
        display: none;
    }
    .form{
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .block_remove{
        display: none!important;
    }

    .active1{
        display: flex;
    }

}


.filters{
    display: flex;
    justify-content: space-evenly;
}

.filters_item{
    position: relative;
}

.filters_label{
    background: #666;
    color: #ffffff;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
}

.filters_list_block{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    width: 300px;
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
    background: #fff;
    z-index: 10;
    transition: 0.3s ease-in;
}

.filters_list_item{
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 6px 15px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.filters_list_item:hover{
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    background: #c3c3c3;
}

.filters_list_link{

}

.filters_list_item span {
    width:20px;
    height:20px;
    background: #ffffff;
    border: 1px solid #212121;
    border-radius: 5px;
    transition: .3s background-color;
}

.filters_list_item input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width:0;
    height:0;
}

.filters_list_item span:after {
    content: "";
    position: absolute;
    display: none;
    right: 22px;
    top: 10px;
    width: 6px;
    height: 10px;
    border: solid #212121;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.filters_list_item input:checked ~ span:after {
    display: block;
}


.filters_apply{
    display: flex;
    justify-content: space-evenly;
}

.filters_apply button{
    margin: 8px auto;
    padding: 8px 10px;
    background: #707070;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 125px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.filters_apply button:hover{
    background: #212121;
}

.filters_active{
    display: flex;
}
*/
